<!-- templates/login.html -->
{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block content %}
    <h1>Login Page</h1>
    <!-- source: https://www.youtube.com/watch?v=qbnqNWXf_tU -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p id="errors">{{msg}}</p>
            {% endfor%}
        {% endif %}
    {% endwith %}
    <form action="/login" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Login">
    </form>
{% endblock %}